@charset "utf-8";




#content {
    width: 100%;
}


#content .cont1 .slider {
    position: relative;
}

#content .cont1 .slider .slider_text {
    position: absolute;
    top: 40%;
    left: 35%;
    text-align: center;
}
#content .cont1 .slider .slider_text h2 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 500;
    line-height: 66px;
    padding: 0px 0px 30px;
    letter-spacing: 3px;
    text-shadow: rgb(0 0 0 / 20%) 0px 1px 2px;
    animation: fadeInDown 1s alternate;
}
#content .cont1 .slider .slider_text p {
    color: rgb(238, 238, 238);
    font-size: 18px;
    text-shadow: rgb(0 0 0 / 20%) 0px 1px 2px;
    padding-top: 10px;
    animation: fadeInUp 1s alternate;
}

#content .cont2 {
    width: 100%;
    overflow: hidden;
}
#content .cont2 .cont2_text {
    text-align: center;
}
#content .cont2 .cont2_text h2{
    font-size: 36px;
    color: #333;
    padding: 70px 0 0 0;
    transition: all 0.2s;

}
#content .cont2 .cont2_text p {
    font-size: 18px;
    font-weight: normal;
    color: #888;
    padding: 15px 0 40px 0;
    transition: all 0.2s;
}

.cont2 .imgbox_wrap {
    width: 80%;
    margin: 0 auto;
    transition: all 0.2;
}
.cont2 .cont2box {
    width: 23.5%;
    float: left;
    margin-right: 2%;
    transition: all 0.2s;
}
.cont2 .cont2box:hover h3 {
    color: #c83044;
}
.cont2 .cont2box:hover img{
    transform: scale(1.2);
}
.cont2 .cont2box:last-child {
    margin-right: 0;
}
.cont2 .cont2box .img {
    overflow: hidden;
}
.cont2 .cont2box img {
    max-width: 100%;
    transition: all 0.3s;
}
.cont2 .cont2box h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 1px 0 0 0;
    transition: all 0.3s;
}
.cont2 .cont2box p {
    font-size: 14px;
    font-weight: normal;
    color: #777;
    margin: 10px 0 20px 0;
}
.cont2 .cont2box .textbox {
    padding: 20px 0 0 5px;
}

#content .cont3 {
    width: 100%;
    padding: 80px 0;
}

.cont3 .cont3_imgbox {
    width: 100%;
    height: 350px;
    background: url(../img/an-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#content .cont3 .imgbox_box {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}

#content .cont3 .imgbox_box h3 {
    color: #fff;
    font-size: 34px;
    font-weight: 500;
    margin: 0 0 15px 0;
}


#content .cont3 .imgbox_box p {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 25px;
}
.btn2 {
    display: inline-block;
    font-size: 16px;
    padding: 8px 30px;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
}
.btn2:hover {
    background: #c83044;
    border: 1px solid #c83044;
}
